* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-red-color: #A8302C;
  --light-red-color: #da5c53;
  --red-gradient:  linear-gradient(338deg,rgba(168, 48, 44, 1) 8%, rgba(218, 92, 83, 1) 100%);
  --dark-blue-color: #205781;
  --light-blue-color: #4aa3ba;
  --blue-gradient: linear-gradient(338deg,rgba(32, 87, 129, 1) 18%, rgba(74, 163, 186, 1) 100%);
  --dark-green-color: #557c56;
  --light-green-color: #a4b465;
  --green-gradient: linear-gradient(338deg,rgba(85, 124, 86, 1) 18%, rgba(164, 180, 101, 1) 100%);
  --grey-: #efefef;
  --dark-grey: rgb(62, 62, 62);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: var(--dark-grey);
  width: 100%;
  height: 100%;
  background-color: var(--grey-);
}

.nav-bar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 1.2rem;
}

.logo {
  width: 50px;
  height: 50px;
}

.log-in-area > input[type="text"] {
  transition: border 0.5s;
  padding: 2%;
  width: 7.5em;
  border-radius: 20px;
  border: white;
  outline: 0;
  text-align: center;
  margin: 0.5em;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.log-in-area > input[type="button"] {
  padding: 2%;
  border: none;
  font-size: 1em;
}

.log-in-area {
  display: flex;
  margin-right: 1em;
}

.informative-text {
  margin: 1em;
}

.btn:hover {
  cursor: pointer;
}
.log-in-area > input[type="text"]::placeholder {
  color: rgb(193, 193, 193);
}

.log-in-area > input:focus {
  border: rgb(184, 184, 184) 1px solid;
}

.btn:active {
  outline: none;
  border: none;
}

.btn:focus {
  outline: none;
  border: none;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 60%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.balance-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}
.current-balance {
  font-size: 3em;
  font-weight: 400;
}
.current-balance-text {
  font-size: 1.5em;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bank-activities {
  width: 57%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}
.functionality-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transfer-container,
.request-loan-container,
.close-account-container {
  padding: 8%;
  width: 100%;
  height: 30%;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.transfer-container input[type="text"],
.transfer-container input[type="number"],
.request-loan-container input[type="text"],
.request-loan-container input[type="number"],
.close-account-container input[type="text"] {
  padding: 5%;
  width: 8em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  transition: 0.5s;
  font: inherit;
}
.transfer-container input[type="text"]:focus,
.request-loan-container input[type="text"]:focus,
.close-account-container input[type="text"]:focus,
.transfer-container input[type="number"]:focus,
.request-loan-container input[type="number"]:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.transfer-input .btn,
.request-input .btn,
.close-input .btn {
  width: 4em;
  height: 2em;
  border: none;
  border-radius: 5px;
}

.transfer-input,
.close-input {
  font-weight: 400;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}

.request-input {
  font-weight: 400;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}
.request-input .btn {
  margin-left: 10%;
}

.confirm-user,
.confirm-pin,
.request-amount,
.transfer-amount,
.transfer-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.confirm-user p,
.confirm-pin p,
.request-amount p,
.transfer-amount p,
.transfer-to p {
  margin-top: 0.2em;
}

.transfer-container {
  background: var(--blue-gradient);
}
.request-loan-container {
  background: var(--green-gradient);
}
.close-account-container {
  background: var(--red-gradient);
}

.total-activities-container {
  height: 10%;
}

.withdraw,
.deposit {
  border-radius: 20px;
  padding: 3%;
  font-size: 0.6em;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.withdraw {
  background: var(--red-gradient);
  width: 12em;
}
.deposit {
  background: var(--green-gradient);
  width: 10em;
}

.activity-row {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

.activity-date-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.activity-type {
  margin-right: 10%;
}

.transfer-header, .request-header, .close-header{
    font-weight: bold;
    font-size: 1.1em;
}